USE [master]
GO
/****** Object:  Database [db_CMS_PHQ]    Script Date: 23-04-2026 19:21:42 ******/
CREATE DATABASE [db_CMS_PHQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_CMS_PHQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_CMS_PHQ.mdf' , SIZE = 1967296KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_CMS_PHQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_CMS_PHQ_log.ldf' , SIZE = 11118592KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_CMS_PHQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_CMS_PHQ]
GO
/****** Object:  Table [dbo].[ComplaintData_old]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintData_old](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[COMPL_REG_NUM] [nvarchar](50) NULL,
	[DISTRICT] [nvarchar](100) NULL,
	[COMPL_DESC] [nvarchar](max) NULL,
	[COMPL_SRNO] [nvarchar](50) NULL,
	[COMPL_REG_DT] [datetime] NULL,
	[FIRST_NAME] [nvarchar](100) NULL,
	[LAST_NAME] [nvarchar](100) NULL,
	[MOBILE] [nvarchar](20) NULL,
	[GENDER] [nvarchar](20) NULL,
	[AGE] [nvarchar](10) NULL,
	[ADDRESS_LINE_1] [nvarchar](255) NULL,
	[ADDRESS_LINE_2] [nvarchar](255) NULL,
	[ADDRESS_LINE_3] [nvarchar](255) NULL,
	[Village] [nvarchar](255) NULL,
	[TEHSIL] [nvarchar](100) NULL,
	[Address_DISTRICT] [nvarchar](100) NULL,
	[Address_PS] [nvarchar](100) NULL,
	[RECEPTION_MODE] [nvarchar](100) NULL,
	[INCIDENT_TYPE] [nvarchar](100) NULL,
	[INCIDENT_PLC] [nvarchar](255) NULL,
	[INCIDENT_FROM_DT] [nvarchar](50) NULL,
	[INCIDENT_TO_DT] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SUBMIT_PS_CD] [nvarchar](50) NULL,
	[SUBMIT_OFFICE_CD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComplaintDataold]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintDataold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[COMPL_REG_NUM] [nvarchar](50) NULL,
	[DISTRICT] [nvarchar](100) NULL,
	[COMPL_DESC] [nvarchar](max) NULL,
	[COMPL_SRNO] [nvarchar](50) NULL,
	[COMPL_REG_DT] [datetime] NULL,
	[FIRST_NAME] [nvarchar](100) NULL,
	[LAST_NAME] [nvarchar](100) NULL,
	[MOBILE] [nvarchar](20) NULL,
	[GENDER] [nvarchar](10) NULL,
	[AGE] [nvarchar](10) NULL,
	[ADDRESS_LINE_1] [nvarchar](200) NULL,
	[ADDRESS_LINE_2] [nvarchar](200) NULL,
	[ADDRESS_LINE_3] [nvarchar](200) NULL,
	[Village] [nvarchar](100) NULL,
	[TEHSIL] [nvarchar](100) NULL,
	[Address_DISTRICT] [nvarchar](100) NULL,
	[Address_PS] [nvarchar](100) NULL,
	[RECEPTION_MODE] [nvarchar](200) NULL,
	[INCIDENT_TYPE] [nvarchar](200) NULL,
	[INCIDENT_PLC] [nvarchar](200) NULL,
	[INCIDENT_FROM_DT] [nvarchar](200) NULL,
	[INCIDENT_TO_DT] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[SUBMIT_PS_CD] [nvarchar](200) NULL,
	[SUBMIT_OFFICE_CD] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[COMPL_REG_NUM] [nvarchar](500) NULL,
	[DISTRICT] [nvarchar](500) NULL,
	[COMPL_DESC] [nvarchar](max) NULL,
	[COMPL_SRNO] [nvarchar](500) NULL,
	[COMPL_REG_DT] [datetime] NULL,
	[FIRST_NAME] [nvarchar](500) NULL,
	[LAST_NAME] [nvarchar](500) NULL,
	[MOBILE] [nvarchar](500) NULL,
	[GENDER] [nvarchar](500) NULL,
	[AGE] [nvarchar](500) NULL,
	[ADDRESS_LINE_1] [nvarchar](max) NULL,
	[ADDRESS_LINE_2] [nvarchar](max) NULL,
	[ADDRESS_LINE_3] [nvarchar](max) NULL,
	[Village] [nvarchar](max) NULL,
	[TEHSIL] [nvarchar](max) NULL,
	[Address_DISTRICT] [nvarchar](max) NULL,
	[Address_PS] [nvarchar](max) NULL,
	[RECEPTION_MODE] [nvarchar](500) NULL,
	[INCIDENT_TYPE] [nvarchar](500) NULL,
	[INCIDENT_PLC] [nvarchar](500) NULL,
	[INCIDENT_FROM_DT] [nvarchar](500) NULL,
	[INCIDENT_TO_DT] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SUBMIT_PS_CD] [nvarchar](50) NULL,
	[SUBMIT_OFFICE_CD] [nvarchar](50) NULL,
	[TRANSFER_DISTRICT_CD] [nvarchar](max) NULL,
	[TRANSFER_PS_CD] [nvarchar](max) NULL,
	[TRANSFER_OFFICE_CD] [nvarchar](max) NULL,
	[Class_of_Incident] [nvarchar](500) NULL,
	[Respondent_Categories] [nvarchar](500) NULL,
	[Complaint_Source] [nvarchar](500) NULL,
	[Type_of_Complaint] [nvarchar](500) NULL,
	[COMPLAINANT_TYPE] [nvarchar](500) NULL,
	[COMPLAINT_PURPOSE] [nvarchar](500) NULL,
	[Status_of_Complaint] [nvarchar](500) NULL,
	[Disposal_Date] [nvarchar](500) NULL,
	[IO_Details] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District_Master]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District_Master](
	[Id] [bigint] NOT NULL,
	[DistrictName] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Offices_Master]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices_Master](
	[Id] [bigint] NOT NULL,
	[Name] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PoliceStation_Master]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoliceStation_Master](
	[ID] [bigint] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[DistrictID] [bigint] NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_complaint]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_complaint](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](1000) NULL,
	[phoneno] [varchar](100) NULL,
	[address] [varchar](1000) NULL,
	[district] [varchar](100) NULL,
	[cfms] [varchar](20) NULL,
	[date] [varchar](50) NULL,
	[related_district_range] [varchar](100) NULL,
	[any_fir_regd] [varchar](500) NULL,
	[recieved_from] [varchar](200) NULL,
	[against_police_officer] [varchar](100) NULL,
	[reporting_crime] [varchar](100) NULL,
	[nature_crime] [varchar](100) NULL,
	[branch] [varchar](50) NULL,
 CONSTRAINT [PK_tb_complaint] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_complaints](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[district] [varchar](200) NULL,
	[branch] [varchar](200) NULL,
	[cfmsno] [varchar](200) NULL,
	[cfmsno_dated] [varchar](200) NULL,
	[cfmsno_datednew] [varchar](200) NULL,
	[mode_receipt] [varchar](200) NULL,
	[class_incident] [varchar](200) NULL,
	[complaint_nature] [varchar](200) NULL,
	[Complaint_source] [varchar](200) NULL,
	[type_complaint] [varchar](200) NULL,
	[fir_detail_any] [varchar](max) NULL,
	[type_complainant] [varchar](500) NULL,
	[complainent_name] [varchar](max) NULL,
	[complainent_add] [varchar](max) NULL,
	[complainent_mobileno] [varchar](200) NULL,
	[status_complaint] [varchar](200) NULL,
	[disposal_dated] [varchar](200) NULL,
	[remarks_ifany] [varchar](max) NULL,
	[compl_desc] [varchar](max) NULL,
 CONSTRAINT [PK_tb_complaints] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_district]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_district](
	[id] [int] NOT NULL,
	[district] [varchar](50) NULL,
 CONSTRAINT [PK_tb_district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_login]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[role] [varchar](50) NULL,
	[auth] [varchar](50) NULL,
	[access] [varchar](50) NULL,
 CONSTRAINT [PK_tb_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_nature_complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_nature_complaints](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nature_complaints] [varchar](100) NULL,
 CONSTRAINT [PK_tb_nature_complaints] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_received_from]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_received_from](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recieved_from] [varchar](100) NULL,
 CONSTRAINT [PK_tb_received_from] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_womensafety]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_womensafety](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_phone_address] [varchar](1000) NULL,
	[district] [varchar](100) NULL,
	[cfms] [varchar](20) NULL,
	[date] [varchar](50) NULL,
	[related_district_range] [varchar](100) NULL,
	[any_fir_regd] [varchar](500) NULL,
	[recieved_from] [varchar](200) NULL,
	[against_police_officer] [varchar](100) NULL,
	[reporting_crime] [varchar](100) NULL,
	[nature_crime] [varchar](100) NULL,
 CONSTRAINT [PK_tb_womensafety] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[CheckAdminLogin]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckAdminLogin]
@username varchar(50)
AS
BEGIN
select * from tb_login where username=@username
END


GO
/****** Object:  StoredProcedure [dbo].[Display_all_CCTNS_complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Display_all_CCTNS_complaints] 
	
AS
BEGIN
	select * from tb_cctns_complaints
END


GO
/****** Object:  StoredProcedure [dbo].[Display_all_complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_all_complaints] 
	@PageIndex INT,
    @PageSize INT
AS
BEGIN
	DECLARE @Offset INT;
    SET @Offset = @PageIndex * @PageSize;

    -- MAIN DATA
    SELECT 
        Id,
        District,
        COMPL_REG_NUM,
        COMPL_REG_DT,
        RECEPTION_MODE,
        Class_of_Incident,
        Respondent_Categories,
        Complaint_source,
        Type_of_Complaint,
        FIRST_NAME,
        Address_DISTRICT,
        MOBILE,
        Status_of_Complaint,
        Disposal_Date
    FROM Complaints
    ORDER BY COMPL_REG_DT desc
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END


GO
/****** Object:  StoredProcedure [dbo].[Display_all_womensafety]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Display_all_womensafety] 
	
AS
BEGIN
	select * from tb_womensafety
END


GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintDatainChart]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintDatainChart]
--@district varchar(50)
--where district =(case when @district='ALL' then district else @district end)
AS
BEGIN
	select district as District,COUNT(district) as TotalComplaints  from  tb_complaint
	
	group by district
END


GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintsData_withdisposedstatus]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintsData_withdisposedstatus] 
	
AS
BEGIN
	SELECT * FROM Complaints where 
	 ISNULL(Status_of_Complaint,'')  IN ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case') 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintsData_withpending15to30daysstatus]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintsData_withpending15to30daysstatus] 
	
AS
BEGIN
	SELECT * FROM Complaints where Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
	AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
END

GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintsData_withpending30to60daysstatus]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintsData_withpending30to60daysstatus] 
	
AS
BEGIN
	SELECT * FROM Complaints where Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
	AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
END

GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintsData_withpendingover60daysstatus]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintsData_withpendingover60daysstatus] 
	
AS
BEGIN
	SELECT * FROM Complaints where Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
	AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_ComplaintsData_withpendingstatus]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_ComplaintsData_withpendingstatus] 
	
AS
BEGIN
	SELECT * FROM Complaints where Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
END

GO
/****** Object:  StoredProcedure [dbo].[display_details_Complaintsdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[display_details_Complaintsdata]
	@id int
AS
BEGIN
	select * from Complaints where ID=@id
END


GO
/****** Object:  StoredProcedure [dbo].[display_GetComplaintsPaged]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[display_GetComplaintsPaged]
    @PageNumber INT,
    @PageSize   INT,
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @TotalCount = COUNT(*) FROM dbo.Complaints;

    SELECT 
        Id,
        DISTRICT,
        COMPL_REG_NUM,
        COMPL_REG_DT,
        RECEPTION_MODE          AS ComplaintType,
        Complaint_Source        AS ComplaintSource,
        ISNULL(FIRST_NAME, '') + ' ' + ISNULL(LAST_NAME, '') AS ComplaintName,
        LTRIM(RTRIM(
            ISNULL(ADDRESS_LINE_1, '') + ' ' + 
            ISNULL(ADDRESS_LINE_2, '') + ' ' + 
            ISNULL(Village, '')
        )) AS ComplaintAddress,
        MOBILE                  AS ComplaintMobileNo,
        Status_of_Complaint,
        Disposal_Date
    FROM dbo.Complaints
    ORDER BY Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscacdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_highlightscacdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Class_of_Incident='Crime Against Children' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscacdbdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Display_highlightscacdbdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Class_of_Incident='Corruption/Demand of Bribe' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscapodata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_highlightscapodata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Respondent_Categories='Against Police Officer' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscascstdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_highlightscascstdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Class_of_Incident='Crime Against SC/ST' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscastdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Display_highlightscastdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Class_of_Incident='Security Threat' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightscawdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_highlightscawdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where Class_of_Incident='Crime Against Women' and
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Display_highlightsdistrictdata]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_highlightsdistrictdata] 
@district varchar(200)	
AS
BEGIN
	select  * from Complaints where
 DISTRICT = @district
                 
END

GO
/****** Object:  StoredProcedure [dbo].[display_totalcomplaints_districtwise_count]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[display_totalcomplaints_districtwise_count]
AS
BEGIN
	 ;WITH DistrictData AS
    (
        SELECT 
		
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        
        GROUP BY district
    )

    -- District-wise data
    SELECT 
      distinct  District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;	
END

GO
/****** Object:  StoredProcedure [dbo].[Display_totalcomplaints_monthwise_pending]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_totalcomplaints_monthwise_pending]

AS
BEGIN
SELECT 
 YEAR(COMPL_REG_DT) AS Year,
        'Total' AS District,

        COUNT(*) AS Totalcomplaintsrecd,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsPending,

        SUM(CASE 
                WHEN ISNULL(Status_of_Complaint,'')  IN ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsDisposed,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverFifteenDays,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverOneMonth,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverTwoMonths

    FROM Complaints
	GROUP BY YEAR(COMPL_REG_DT)
ORDER BY Year;
--SELECT 
--     district as district,
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-15,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-30,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-30,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-60,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-60,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
--        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints 
--SELECT 
      
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-15,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-1,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)<DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
--					  --
--        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints 
	



	
END


GO
/****** Object:  StoredProcedure [dbo].[Display_totalcomplaints_monthwise_pending_sjw]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_totalcomplaints_monthwise_pending_sjw]

AS
BEGIN
--SELECT 
--      Branch as branch,
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-15,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-1,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints group by branch

	--SELECT 
 --      'WSC' as branch,
 --       COUNT(*) AS Totalcomplaintsrecdwsc,
 --       SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPendingwsc,
 --       SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposedwsc,
 --       SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-15,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverFifteenDayswsc,
 --       SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-1,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverOneMonthwsc,
 --       SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonthswsc,
 --       SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonthswsc
 --   FROM tb_complaints where branch='WSC' group by branch

	SELECT 
       'SJW' as branch ,
        COUNT(*) AS Totalcomplaintsrecdsjw,
        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPendingsjw,
        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposedsjw,
        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-15,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverFifteenDayssjw,
        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-1,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverOneMonthsjw,
        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                      THEN 1 ELSE 0 END) AS PendingOverTwoMonthssjw
					  --AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-2,GETDATE())
        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonthssjw
    FROM tb_complaints where branch='SJW' group by branch







	
END


GO
/****** Object:  StoredProcedure [dbo].[Display_totalcomplaints_monthwise_pending_wsc]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Display_totalcomplaints_monthwise_pending_wsc]

AS
BEGIN

SELECT 
 'Total' AS District,
        Branch AS Branch,

        COUNT(*) AS Totalcomplaintsrecd,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsPending,

        SUM(CASE 
                WHEN status_complaint IN ('R-Disposed', 'NA-Disposed') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsDisposed,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                 AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverFifteenDays,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                 AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverOneMonth,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending')
                 AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(MONTH, -2, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverTwoMonths

    FROM tb_complaints group by branch



--SELECT 
--      Branch as branch,
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-15,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-30,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-30,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-60,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)<DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
--        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints group by branch

	







	
END


GO
/****** Object:  StoredProcedure [dbo].[Display_totalcomplaintsdata_pending]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Display_totalcomplaintsdata_pending]

AS
BEGIN
SELECT 
 --YEAR(COMPL_REG_DT) AS Year,
        'Total' AS District,

        COUNT(*) AS Totalcomplaintsrecd,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsPending,

        SUM(CASE 
                WHEN ISNULL(Status_of_Complaint,'')  IN ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case') 
                THEN 1 ELSE 0 
            END) AS TotalComplaintsDisposed,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverFifteenDays,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
                 AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverOneMonth,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
                 AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
                THEN 1 ELSE 0 
            END) AS PendingOverTwoMonths

    FROM Complaints
--	GROUP BY YEAR(COMPL_REG_DT)
--ORDER BY Year;
--SELECT 
--     district as district,
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-15,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-30,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-30,GETDATE()) AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-60,GETDATE())
--					 THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)< DATEADD(DAY,-60,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
--        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints 
--SELECT 
      
--        COUNT(*) AS Totalcomplaintsrecd,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
--        SUM(CASE WHEN status_complaint in ('R-Disposed','NA-Disposed') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-15,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-1,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverOneMonth,
--        SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--                     AND TRY_CAST(cfmsno_dated as date)<DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
--					  --
--        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
--        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
--    FROM tb_complaints 
	



	
END

GO
/****** Object:  StoredProcedure [dbo].[Get_AllDisposedComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Get_AllDisposedComplaints]
	
AS
BEGIN
	--SELECT district as District ,COUNT(district) AS TotalComplaints FROM tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-60,GETDATE()) group by district	


					  ;WITH DistrictData AS
    (
        SELECT 
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE ISNULL(Status_of_Complaint,'')  IN ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case')
          --AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
        GROUP BY district
    )

    -- District-wise data
    SELECT 
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row at the end
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_AllRecievedComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Get_AllRecievedComplaints]
	
AS
BEGIN
	--SELECT district as District ,COUNT(district) AS TotalComplaints FROM tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-60,GETDATE()) group by district	


					  ;WITH DistrictData AS
    (
        SELECT 
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
--        WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
--'Pending-EO Not Assigned',
--'Pending-Report Submitted but not Approved')
          --AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
        GROUP BY district
    )

    -- District-wise data
    SELECT 
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row at the end
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_CCTNS_Districtswise_Complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_CCTNS_Districtswise_Complaints]
AS
BEGIN
	SELECT top 27
        cctns_district AS District,

        COUNT(*) AS TotalComplaints,

        SUM(CASE 
                WHEN statusofcomplaint IN ('0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned') 
                THEN 1 ELSE 0 
            END) AS Pending,

        SUM(CASE 
                WHEN statusofcomplaint IN ('Disposed- Preventive Action taken','Disposed- Non-cognizable offence','Disposed- Repeat complaints',
		'Disposed- Civil nature cases','Disposed- Under Investigation case','Disposed- FIR Registered','Disposed- Related to other departments') 
                THEN 1 ELSE 0 
            END) AS Disposed

    FROM tb_cctns_complaints
    WHERE statusofcomplaint IN (
        '0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned','Disposed- Preventive Action taken','Disposed- Non-cognizable offence','Disposed- Repeat complaints',
		'Disposed- Civil nature cases','Disposed- Under Investigation case','Disposed- FIR Registered','Disposed- Related to other departments'
    )
    GROUP BY cctns_district
    ORDER BY TotalComplaints DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_DatewiseChart_Complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DatewiseChart_Complaints] 
(
    @FromDate DATE,
    @ToDate   DATE
)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
        DISTRICT AS District,
        COUNT(*) AS TotalComplaints,
        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
                THEN 1 ELSE 0 
            END) AS Pending,
        SUM(CASE 
                WHEN ISNULL(Status_of_Complaint,'')  IN ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case') 
                THEN 1 ELSE 0 
            END) AS Disposed
    FROM Complaints
    WHERE TRY_CAST(COMPL_REG_DT AS DATE) BETWEEN @FromDate AND @ToDate
    GROUP BY DISTRICT
    ORDER BY TotalComplaints DESC;
                 
END

GO
/****** Object:  StoredProcedure [dbo].[Get_DistrictWise_BranchDurationDateWise_Complaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DistrictWise_BranchDurationDateWise_Complaints]
@branch varchar(200),
@Months INT,
@FromDate date	,
@ToDate date
AS
BEGIN
--Select  district as District ,COUNT(district) AS TotalComplaints from tb_complaints where branch=@branch
--group by district order by TotalComplaints desc

SELECT  top 27
        branch AS Branch,
        district AS District,

        COUNT(district) AS TotalComplaints,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending') 
                THEN 1 ELSE 0 
            END) AS Pending,

        SUM(CASE 
                WHEN status_complaint IN ('R-Disposed', 'NA-Disposed') 
                THEN 1 ELSE 0 
            END) AS Disposed
    FROM tb_complaints
    WHERE status_complaint IN (
        'R-Pending', 
        'NA-Pending', 
        'R-Disposed', 
        'NA-Disposed'
    )
	and branch= @branch
	and
	TRY_CAST(cfmsno_dated AS DATE) >= @FromDate
AND  TRY_CAST(cfmsno_dated AS DATE) <= @ToDate and
DATEDIFF(MONTH, cfmsno_dated, GETDATE()) < @Months
--    AND (@Branch IS NULL OR branch = @Branch)
--	AND (@FromDate IS NULL OR TRY_CAST(cfmsno_dated AS DATE) >= @FromDate)
--AND (@ToDate IS NULL OR TRY_CAST(cfmsno_dated AS DATE) <= @ToDate)
--		AND (
--        @Months IS NULL 
--        OR DATEDIFF(MONTH, TRY_CAST(cfmsno_dated AS DATE), GETDATE()) < @Months
--    )
    GROUP BY district, branch
    ORDER BY TotalComplaints DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_DurationWiseComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_DurationWiseComplaints]
    --@Months INT
	@Year INT
AS
BEGIN
    SET NOCOUNT ON;

--    SELECT 
--	DISTRICT AS District,
--        'Complaints Over ' + CAST(@Months AS VARCHAR) + ' Months' AS Category,
		
--        COUNT(DISTRICT) AS TotalComplaints,
--        SUM(CASE WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
--'Pending-EO Not Assigned',
--'Pending-Report Submitted but not Approved')  THEN 1 ELSE 0 END) AS Pending,
--        SUM(CASE WHEN ISNULL(Status_of_Complaint,'')  IN ('',
--'0',
--				'Disposed- Civil nature cases',
--'Disposed- False complaint',
--'Disposed- FIR Registered',
--'Disposed- Non-cognizable offence',
--'Disposed- Others',
--'Disposed- Preventive Action taken',
--'Disposed- Related to other departments',
--'Disposed- Repeat complaints',
--'Disposed- Under Investigation case')  THEN 1 ELSE 0 END) AS Disposed
--    FROM Complaints

--    WHERE DATEDIFF(YEAR, COMPL_REG_DT, GETDATE()) < @Months
--	GROUP BY district
--	order by TotalComplaints desc


    SELECT 
        --@Year AS [Year],
        DISTRICT AS District,

        -- Total Received
        COUNT(*) AS TotalComplaints,

        -- Pending
        SUM(CASE 
            WHEN Status_of_Complaint IN (
                'Pending-EO Assigned but Report not submitted',
                'Pending-EO Not Assigned',
                'Pending-Report Submitted but not Approved'
            ) THEN 1 ELSE 0 
        END) AS Pending,

        -- Disposed
        SUM(CASE 
            WHEN ISNULL(Status_of_Complaint,'') IN (
                '',
                '0',
                'Disposed- Civil nature cases',
                'Disposed- False complaint',
                'Disposed- FIR Registered',
                'Disposed- Non-cognizable offence',
                'Disposed- Others',
                'Disposed- Preventive Action taken',
                'Disposed- Related to other departments',
                'Disposed- Repeat complaints',
                'Disposed- Under Investigation case'
            ) THEN 1 ELSE 0 
        END) AS Disposed

    FROM Complaints

    WHERE 
        COMPL_REG_DT IS NOT NULL
        AND YEAR(COMPL_REG_DT) = @Year

    GROUP BY 
        DISTRICT

    ORDER BY 
        TotalComplaints DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingBranchComplaints_15to30days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingBranchComplaints_15to30days]
	@branch varchar(200)
AS
BEGIN
	--SELECT  
 --       branch AS Branch,
 --       district AS District,
 --       COUNT(*) AS TotalComplaints
 --   FROM tb_complaints
 --   WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --     AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
	--  and branch=@branch
 --   GROUP BY 
 --       branch,
 --       district
 --   ORDER BY 
 --       branch,
 --       district;
		
		 --SET NOCOUNT ON;

    ;WITH BranchDistrictData AS
    (
        SELECT  
            branch   AS Branch,
            district AS District,
            COUNT(*) AS TotalComplaints
        FROM tb_complaints
        WHERE status_complaint IN ('R-Pending', 'NA-Pending')
          AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
          AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
          AND branch = @branch
        GROUP BY 
            branch,
            district
    )

    -- Branch–District wise data
    SELECT 
        Branch,
        District,
        TotalComplaints
    FROM BranchDistrictData

    UNION ALL

    -- Total row at the end
    SELECT
        @branch AS Branch,
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM BranchDistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingBranchComplaints_30to60days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingBranchComplaints_30to60days]
	@branch varchar(200)
AS
BEGIN
	--SELECT  
 --       branch AS Branch,
 --       district AS District,
 --       COUNT(*) AS TotalComplaints
 --   FROM tb_complaints
 --   WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --     AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	--  and branch=@branch
 --   GROUP BY 
 --       branch,
 --       district
 --   ORDER BY 
 --       branch,
 --       district;	

 ;WITH BranchDistrictData AS
    (
        SELECT  
            branch   AS Branch,
            district AS District,
            COUNT(*) AS TotalComplaints
        FROM tb_complaints
        WHERE status_complaint IN ('R-Pending', 'NA-Pending')
          AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
          AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
          AND branch = @branch
        GROUP BY 
            branch,
            district
    )

    -- Branch–District wise rows
    SELECT 
        Branch,
        District,
        TotalComplaints
    FROM BranchDistrictData

    UNION ALL

    -- Total row at the end
    SELECT
        @branch AS Branch,
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM BranchDistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingBranchComplaints_allover]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Get_PendingBranchComplaints_allover]
	@branch varchar(200)
AS
BEGIN
	--SELECT  
 --       branch AS Branch,
 --       district AS District,
 --       COUNT(*) AS TotalComplaints
 --   FROM tb_complaints
 --   WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --     AND  TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	--  and branch=@branch
 --   GROUP BY 
 --       branch,
 --       district
 --   ORDER BY 
 --       branch,
 --       district;
  ;WITH BranchDistrictData AS
    (
        SELECT  
            branch   AS Branch,
            district AS District,
            COUNT(*) AS TotalComplaints
        FROM tb_complaints
        WHERE status_complaint IN ('R-Pending', 'NA-Pending')
          AND branch = @branch
        GROUP BY 
            branch,
            district
    )

    -- Branch–District wise rows
    SELECT 
        Branch,
        District,
        TotalComplaints
    FROM BranchDistrictData

    UNION ALL

    -- Total row at the end
    SELECT
        @branch AS Branch,
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM BranchDistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingBranchComplaints_over60days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingBranchComplaints_over60days]
	@branch varchar(200)
AS
BEGIN
	--SELECT  
 --       branch AS Branch,
 --       district AS District,
 --       COUNT(*) AS TotalComplaints
 --   FROM tb_complaints
 --   WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --     AND  TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	--  and branch=@branch
 --   GROUP BY 
 --       branch,
 --       district
 --   ORDER BY 
 --       branch,
 --       district;
  ;WITH BranchDistrictData AS
    (
        SELECT  
            branch   AS Branch,
            district AS District,
            COUNT(*) AS TotalComplaints
        FROM tb_complaints
        WHERE status_complaint IN ('R-Pending', 'NA-Pending')
          AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
          AND branch = @branch
        GROUP BY 
            branch,
            district
    )

    -- Branch–District wise rows
    SELECT 
        Branch,
        District,
        TotalComplaints
    FROM BranchDistrictData

    UNION ALL

    -- Total row at the end
    SELECT
        @branch AS Branch,
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM BranchDistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaints_allover]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingComplaints_allover]
	
AS
BEGIN
	--SELECT district as District ,COUNT(district) AS TotalComplaints FROM tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-60,GETDATE()) group by district	


					  ;WITH DistrictData AS
    (
        SELECT 
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
          --AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
        GROUP BY district
    )

    -- District-wise data
    SELECT 
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row at the end
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaints_fifteendaysto30days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingComplaints_fifteendaysto30days]
	
AS
BEGIN
	 ;WITH DistrictData AS
    (
        SELECT 
		YEAR(COMPL_REG_DT) AS Year,
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
          AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
          AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
        GROUP BY district,YEAR(COMPL_REG_DT)
    )

    -- District-wise data
    SELECT 
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;	
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaints_onemonthtotwomonth]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingComplaints_onemonthtotwomonth]
	
AS
BEGIN
	--SELECT district as District ,COUNT(district) AS TotalComplaints FROM tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
 --                    AND TRY_CAST(cfmsno_dated as date)<DATEADD(DAY,-30,GETDATE())AND TRY_CAST(cfmsno_dated as date)>=DATEADD(DAY,-60,GETDATE()) group by district	

					  ;WITH DistrictData AS
    (
        SELECT 
		YEAR(COMPL_REG_DT) AS Year,
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
          AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
          AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
        GROUP BY district, YEAR(COMPL_REG_DT)
    )

    -- District-wise rows
    SELECT 
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row at the end
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaints_overtwomonth]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PendingComplaints_overtwomonth]
	
AS
BEGIN
	
					  ;WITH DistrictData AS
    (
        SELECT 
		YEAR(COMPL_REG_DT) AS Year,
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
          AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
        GROUP BY district , YEAR(COMPL_REG_DT)
    )

    -- District-wise data
    SELECT 
	
        District,
        TotalComplaints
    FROM DistrictData

    UNION ALL

    -- Total row at the end
    SELECT 
        'Total' AS District,
        SUM(TotalComplaints) AS TotalComplaints
    FROM DistrictData;
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_15to30days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_15to30days]
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
	AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) 
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_15to30days_withbranch]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_15to30days_withbranch]
@branch varchar(200)
,@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending') 
	AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) 
	and branch=@branch 
	and  (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_15to30days_withdistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_15to30days_withdistrict]
@district varchar(200)
AS
BEGIN
	--select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
	--AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
	--and district=@district

	SELECT *
    FROM Complaints
    WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved')
      AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
      AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -30, CAST(GETDATE() AS DATE))
      AND (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          );
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_30to60days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_30to60days]
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending') 
	AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_30to60days_withbranch]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_30to60days_withbranch]
@branch varchar(200),
@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending') 
	AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) AND TRY_CAST(cfmsno_dated AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	and branch=@branch 
	and  (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_30to60days_withdistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_30to60days_withdistrict]
@district varchar(200)
AS
BEGIN
	select * from Complaints WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
	AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -30, CAST(GETDATE() AS DATE)) AND TRY_CAST(COMPL_REG_DT AS DATE) >= DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	and  (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
	
	--district=@district
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_allover]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Get_PendingComplaintsDetails_allover]
--@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
	--and district=@district
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_allover_withbranch]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_allover_withbranch]
@branch varchar(200),
@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending') 
	--AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE)) 
	and branch=@branch 
	and  (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_allover_withdistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_allover_withdistrict]
@district varchar(200)
AS
BEGIN
	select * from Complaints WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
	--AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	AND (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
	--and district=@district
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_over60days]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_over60days]
--@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending')
	AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	--and district=@district
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_over60days_withbranch]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_over60days_withbranch]
@branch varchar(200),
@district varchar(200)
AS
BEGIN
	select * from tb_complaints WHERE status_complaint IN ('R-Pending', 'NA-Pending') AND TRY_CAST(cfmsno_dated AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE)) 
	and branch=@branch 
	and  (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
END

GO
/****** Object:  StoredProcedure [dbo].[Get_PendingComplaintsDetails_over60days_withdistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_PendingComplaintsDetails_over60days_withdistrict]
@district varchar(200)
AS
BEGIN
	select * from Complaints WHERE Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') AND TRY_CAST(COMPL_REG_DT AS DATE) < DATEADD(DAY, -60, CAST(GETDATE() AS DATE))
	AND (
            @district IS NULL
            OR @district = 'Total'
            OR district = @district
          )
	--and district=@district
END

GO
/****** Object:  StoredProcedure [dbo].[Get_sp_PendingComplaints_DistrictWise]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_sp_PendingComplaints_DistrictWise]
    @Year INT
AS
BEGIN
    SELECT 
        DISTRICT,
        COUNT(*) AS TotalPending
    FROM Complaints
    WHERE 
        YEAR(COMPL_REG_DT) = @Year
        AND Status_of_Complaint IN (
            'Pending-EO Assigned but Report not submitted',
            'Pending-EO Not Assigned',
            'Pending-Report Submitted but not Approved'
        )
    GROUP BY DISTRICT

    UNION ALL

    SELECT 
        'Total',
        COUNT(*)
    FROM Complaints
    WHERE 
        YEAR(COMPL_REG_DT) = @Year
        AND Status_of_Complaint IN (
            'Pending-EO Assigned but Report not submitted',
            'Pending-EO Not Assigned',
            'Pending-Report Submitted but not Approved'
        );
END

GO
/****** Object:  StoredProcedure [dbo].[Get_Totalcomplaintsrecord_CCTNS_RPD]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_Totalcomplaintsrecord_CCTNS_RPD]
AS
BEGIN
	SELECT 
     'CCTNS' as Branch,
        COUNT(*) AS Totalcomplaintsrecd,
        SUM(CASE WHEN statusofcomplaint IN ('0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned') THEN 1 ELSE 0 END) AS TotalComplaintsPending,
        SUM(CASE WHEN statusofcomplaint in ('Disposed- Preventive Action taken','Disposed- Non-cognizable offence','Disposed- Repeat complaints',
		'Disposed- Civil nature cases','Disposed- Under Investigation case','Disposed- FIR Registered','Disposed- Related to other departments') THEN 1 ELSE 0 END) AS TotalComplaintsDisposed,
        SUM(CASE WHEN statusofcomplaint IN ('0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned')
                     AND TRY_CAST(date as date)<DATEADD(DAY,-15,GETDATE()) AND TRY_CAST(date as date)>=DATEADD(DAY,-30,GETDATE())
					 THEN 1 ELSE 0 END) AS PendingOverFifteenDays,
        SUM(CASE WHEN statusofcomplaint IN ('0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned')
                     AND TRY_CAST(date as date)<DATEADD(DAY,-30,GETDATE()) AND TRY_CAST(date as date)>=DATEADD(DAY,-60,GETDATE())
					 THEN 1 ELSE 0 END) AS PendingOverOneMonth,
        SUM(CASE WHEN statusofcomplaint IN ('0','Pending-EO Assigned but Report not submitted', 'Pending-Report Submitted but not Approved',
		'Pending-EO Not Assigned')
                     AND TRY_CAST(date as date)<DATEADD(MONTH,-2,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverTwoMonths
        --SUM(CASE WHEN status_complaint IN ('R-Pending', 'NA-Pending')
        --             AND TRY_CAST(cfmsno_dated as date)>=DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) AS PendingOverThreeMonths
    FROM tb_cctns_complaints 
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllCCTNSDistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[GetAllCCTNSDistrict]
AS
BEGIN
select distinct cctns_district AS District from tb_cctns_complaints
 --SELECT 
 --       ISNULL(da.DisttStandardName, c.complaint_sentto_district) AS District
        
 --   FROM 
 --       tb_complaints c
 --   LEFT JOIN 
 --       DistrictAlias da ON UPPER(LTRIM(RTRIM(c.complaint_sentto_district))) = UPPER(da.DisttAliasName)
 --   GROUP BY 
 --       ISNULL(da.DisttStandardName, c.complaint_sentto_district)
END


GO
/****** Object:  StoredProcedure [dbo].[GetAllComplaintsIncident]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllComplaintsIncident]
AS
BEGIN
 SELECT distinct class_incident 
    FROM 
        tb_complaints 
END


GO
/****** Object:  StoredProcedure [dbo].[GetAllDistrict]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllDistrict]
AS
BEGIN
select distinct DISTRICT AS District from Complaints where district!=''
 --SELECT 
 --       ISNULL(da.DisttStandardName, c.complaint_sentto_district) AS District
        
 --   FROM 
 --       tb_complaints c
 --   LEFT JOIN 
 --       DistrictAlias da ON UPPER(LTRIM(RTRIM(c.complaint_sentto_district))) = UPPER(da.DisttAliasName)
 --   GROUP BY 
 --       ISNULL(da.DisttStandardName, c.complaint_sentto_district)
END


GO
/****** Object:  StoredProcedure [dbo].[GetDistrict_BranchWiseComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetDistrict_BranchWiseComplaints]
@branch varchar(200)
AS
BEGIN
--Select  district as District ,COUNT(district) AS TotalComplaints from tb_complaints where branch=@branch
--group by district order by TotalComplaints desc

SELECT  top 27
        branch AS Branch,
        district AS District,

        COUNT(district) AS TotalComplaints,

        SUM(CASE 
                WHEN status_complaint IN ('R-Pending', 'NA-Pending') 
                THEN 1 ELSE 0 
            END) AS Pending,

        SUM(CASE 
                WHEN status_complaint IN ('R-Disposed', 'NA-Disposed') 
                THEN 1 ELSE 0 
            END) AS Disposed
    FROM tb_complaints
    WHERE status_complaint IN (
        'R-Pending', 
        'NA-Pending', 
        'R-Disposed', 
        'NA-Disposed'
    )
    AND branch = @Branch
    GROUP BY district, branch
    ORDER BY TotalComplaints DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[GetNormalizedDistrictComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNormalizedDistrictComplaints]
AS
BEGIN
--Select  district as District ,COUNT(district) AS TotalComplaints from tb_complaints
--group by district order by TotalComplaints desc

			SELECT 
        DISTRICT AS District,

        COUNT(*) AS TotalComplaints,

        SUM(CASE 
                WHEN Status_of_Complaint IN ('Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved') 
                THEN 1 ELSE 0 
            END) AS Pending,

        SUM(CASE 
                WHEN ISNULL(Status_of_Complaint,'') IN  ('',
'0',
				'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case') 
                THEN 1 ELSE 0 
            END) AS Disposed

    FROM Complaints
    WHERE Status_of_Complaint IN (
'NULL',
'0',
'Disposed- Civil nature cases',
'Disposed- False complaint',
'Disposed- FIR Registered',
'Disposed- Non-cognizable offence',
'Disposed- Others',
'Disposed- Preventive Action taken',
'Disposed- Related to other departments',
'Disposed- Repeat complaints',
'Disposed- Under Investigation case',
'Pending-EO Assigned but Report not submitted',
'Pending-EO Not Assigned',
'Pending-Report Submitted but not Approved'
    )
    GROUP BY DISTRICT
    ORDER BY TotalComplaints DESC;
    -- Step 1: Join complaints with alias table
    --SELECT 
    --    ISNULL(da.DisttStandardName, c.complaint_sentto_district) AS District,
    --    COUNT(*) AS TotalComplaints
    --FROM 
    --    tb_complaints c
    --LEFT JOIN 
    --    DistrictAlias da ON UPPER(LTRIM(RTRIM(c.complaint_sentto_district))) = UPPER(da.DisttAliasName)
    --GROUP BY 
    --    ISNULL(da.DisttStandardName, c.complaint_sentto_district)
    --ORDER BY 
    --    TotalComplaints DESC
END


GO
/****** Object:  StoredProcedure [dbo].[GetTotalComplaints]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTotalComplaints]
	
AS
BEGIN
	Select COUNT(*) as TotalComplaints from Complaints 
END


GO
/****** Object:  StoredProcedure [dbo].[Insert_Complaints_details]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Complaints_details]
	@district varchar(200),
	@branch varchar(200),
	@cfmsno varchar(200),
	@cfmsno_dated varchar(200),
	@cfmsno_datednew varchar(200),
	@mode_receipt varchar(200),
	@class_incident varchar(200),
	@complaint_nature varchar(200),
	@Complaint_source varchar(200),
	@type_complaint varchar(200),
	@fir_detail_any varchar(500),
	@type_complainant varchar(500),
	@complainent_name varchar(1000),
	@complainent_add varchar(1000),
	@complainent_mobileno varchar(200),
	@status_complaint varchar(200),
	@disposal_dated varchar(200),
	@remarks_ifany varchar(500),
	@compl_desc varchar(1000)
AS
BEGIN
	INSERT INTO [dbo].[tb_complaints]
           ([district]
           ,[branch]
           ,[cfmsno]
           ,[cfmsno_dated]
           ,[cfmsno_datednew]
           ,[mode_receipt]
           ,[class_incident]
           ,[complaint_nature]
           ,[Complaint_source]
           ,[type_complaint]
           ,[fir_detail_any]
           ,[type_complainant]
           ,[complainent_name]
           ,[complainent_add]
           ,[complainent_mobileno]
           ,[status_complaint]
           ,[disposal_dated]
           ,[remarks_ifany]
           ,[compl_desc])
     VALUES
           (@district,
            @branch, 
            @cfmsno, 
            @cfmsno_dated, 
            @cfmsno_datednew, 
            @mode_receipt, 
            @class_incident, 
            @complaint_nature, 
            @Complaint_source, 
            @type_complaint, 
            @fir_detail_any, 
            @type_complainant, 
            @complainent_name, 
            @complainent_add, 
            @complainent_mobileno, 
            @status_complaint, 
            @disposal_dated, 
            @remarks_ifany, 
            @compl_desc )
END


GO
/****** Object:  StoredProcedure [dbo].[Insert_Womensafety_details]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Womensafety_details]
@name_phone_address varchar(1000),
@district varchar(100),
@cfms varchar(20),
@date varchar(50),
@related_district_range varchar(100),
@any_fir_regd varchar(500),
@recieved_from varchar(200),
@against_police_officer varchar(100),
@reporting_crime varchar(100),
@nature_crime varchar(100)
AS
BEGIN
INSERT INTO [dbo].[tb_womensafety]
           ([name_phone_address]
           ,[district]
           ,[cfms]
           ,[date]
           ,[related_district_range]
           ,[any_fir_regd]
           ,[recieved_from]
           ,[against_police_officer]
           ,[reporting_crime]
           ,[nature_crime])
     VALUES
           (@name_phone_address
           ,@district
           ,@cfms
           ,@date
           ,@related_district_range
           ,@any_fir_regd
           ,@recieved_from
           ,@against_police_officer
           ,@reporting_crime
           ,@nature_crime)
END


GO
/****** Object:  StoredProcedure [dbo].[InsertComplaintData]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertComplaintData]
	 @COMPL_REG_NUM NVARCHAR(1000),
    @DISTRICT NVARCHAR(1000),
    @COMPL_DESC NVARCHAR(MAX),
    @COMPL_SRNO NVARCHAR(1000),
    @COMPL_REG_DT DATETIME = NULL,

    @FIRST_NAME NVARCHAR(1000),
    @LAST_NAME NVARCHAR(1000),
    @MOBILE NVARCHAR(1000),
    @GENDER NVARCHAR(1000),
    @AGE NVARCHAR(1000),

    @ADDRESS_LINE_1 NVARCHAR(max),
    @ADDRESS_LINE_2 NVARCHAR(max),
    @ADDRESS_LINE_3 NVARCHAR(max),

    @Village NVARCHAR(max),
    @TEHSIL NVARCHAR(max),
    @Address_DISTRICT NVARCHAR(max),
    @Address_PS NVARCHAR(max),

    @RECEPTION_MODE NVARCHAR(1000),
    @INCIDENT_TYPE NVARCHAR(1000),
    @INCIDENT_PLC NVARCHAR(1000),

    @INCIDENT_FROM_DT NVARCHAR(1000),
    @INCIDENT_TO_DT NVARCHAR(1000),
    @EMAIL NVARCHAR(1000),

    @SUBMIT_PS_CD NVARCHAR(1000),
    @SUBMIT_OFFICE_CD NVARCHAR(1000),

    @TRANSFER_DISTRICT_CD NVARCHAR(1000),
    @TRANSFER_PS_CD NVARCHAR(1000),
    @TRANSFER_OFFICE_CD NVARCHAR(1000),

    @Class_of_Incident NVARCHAR(1000),
    @Respondent_Categories NVARCHAR(1000),
    @Complaint_Source NVARCHAR(1000),

    @Type_of_Complaint NVARCHAR(1000),
    @COMPLAINANT_TYPE NVARCHAR(1000),
    @COMPLAINT_PURPOSE NVARCHAR(1000),

    @Status_of_Complaint NVARCHAR(1000),
    @Disposal_Date NVARCHAR(1000),
    @IO_Details NVARCHAR(1000)
AS
BEGIN
	 IF EXISTS (SELECT 1 FROM Complaints WHERE COMPL_REG_NUM = @COMPL_REG_NUM)
    BEGIN
        UPDATE Complaints
        SET 
            Status_of_Complaint = @Status_of_Complaint,
            Disposal_Date = @Disposal_Date,
            IO_Details = @IO_Details
        WHERE COMPL_REG_NUM = @COMPL_REG_NUM;
    END

    -- ➕ IF NOT EXISTS → INSERT FULL DATA
    ELSE
    BEGIN
        INSERT INTO Complaints
        (
            COMPL_REG_NUM,DISTRICT,COMPL_DESC,COMPL_SRNO,COMPL_REG_DT,
            FIRST_NAME,LAST_NAME,MOBILE,GENDER,AGE,
            ADDRESS_LINE_1,ADDRESS_LINE_2,ADDRESS_LINE_3,
            Village,TEHSIL,Address_DISTRICT,Address_PS,
            RECEPTION_MODE,INCIDENT_TYPE,INCIDENT_PLC,
            INCIDENT_FROM_DT,INCIDENT_TO_DT,EMAIL,
            SUBMIT_PS_CD,SUBMIT_OFFICE_CD,
            TRANSFER_DISTRICT_CD,TRANSFER_PS_CD,TRANSFER_OFFICE_CD,
            Class_of_Incident,Respondent_Categories,Complaint_Source,
            Type_of_Complaint,COMPLAINANT_TYPE,COMPLAINT_PURPOSE,
            Status_of_Complaint,Disposal_Date,IO_Details
        )
        VALUES
        (
            @COMPL_REG_NUM,@DISTRICT,@COMPL_DESC,@COMPL_SRNO,@COMPL_REG_DT,
            @FIRST_NAME,@LAST_NAME,@MOBILE,@GENDER,@AGE,
            @ADDRESS_LINE_1,@ADDRESS_LINE_2,@ADDRESS_LINE_3,
            @Village,@TEHSIL,@Address_DISTRICT,@Address_PS,
            @RECEPTION_MODE,@INCIDENT_TYPE,@INCIDENT_PLC,
            @INCIDENT_FROM_DT,@INCIDENT_TO_DT,@EMAIL,
            @SUBMIT_PS_CD,@SUBMIT_OFFICE_CD,
            @TRANSFER_DISTRICT_CD,@TRANSFER_PS_CD,@TRANSFER_OFFICE_CD,
            @Class_of_Incident,@Respondent_Categories,@Complaint_Source,
            @Type_of_Complaint,@COMPLAINANT_TYPE,@COMPLAINT_PURPOSE,
            @Status_of_Complaint,@Disposal_Date,@IO_Details
        );
    END
          
END

GO
/****** Object:  StoredProcedure [dbo].[Report_actiontakenphq_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_actiontakenphq_Data]
@type_complainant varchar(500)
AS
BEGIN
	Select * from  tb_complaints where type_complainant=@type_complainant
END


GO
/****** Object:  StoredProcedure [dbo].[Report_Branchwise_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    



CREATE PROCEDURE [dbo].[Report_Branchwise_Data]
@branch varchar(100)
AS
BEGIN
	Select * from  tb_complaints where branch=@branch
		
END


GO
/****** Object:  StoredProcedure [dbo].[Report_CCTNS_district_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    



Create PROCEDURE [dbo].[Report_CCTNS_district_Data]
@District varchar(100)
AS
BEGIN
	SELECT cctns_district AS District,* FROM tb_cctns_complaints district
		where cctns_district=@District
    --GROUP BY 
    --    ISNULL(da.DisttStandardName, c.district)
		
END


GO
/****** Object:  StoredProcedure [dbo].[Report_complaints_Incident]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   
CREATE PROCEDURE [dbo].[Report_complaints_Incident]
@classincident varchar(100)
AS
BEGIN
	SELECT 
        Class_of_Incident AS Complaintnature,*
        
    FROM 
        Complaints 
    

		where Class_of_Incident=@classincident
    --GROUP BY 
    --    ISNULL(da.DisttStandardName, c.district)
		
END


GO
/****** Object:  StoredProcedure [dbo].[Report_datewise_data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_datewise_data]
	@DateFrom DATE = NULL,
    @DateTo DATE = NULL
	--@complaint_sentto_district VARCHAR(200) = NULL
AS
BEGIN

	SELECT *
    FROM tb_complaints
    WHERE
        -- Date filter on cfmsno_datednew
        (@DateFrom IS NULL OR TRY_CAST(cfmsno_dated AS DATE) >= @DateFrom)
        AND (@DateTo IS NULL OR TRY_CAST(cfmsno_dated AS DATE) <= @DateTo)

        ---- Other filters
        --AND (@branch IS NULL OR branch = @branch)
        --AND (@complaint_sentto_district IS NULL OR district = @complaint_sentto_district)
        --AND (@nature_crime IS NULL OR nature_crime = @nature_crime)
        --AND (@present_status_comp IS NULL OR present_status_comp = @present_status_comp)
        --AND (@type_complaint IS NULL OR type_complaint = @type_complaint)
        --AND (@concauth_comp_recieved IS NULL OR concauth_comp_recieved = @concauth_comp_recieved)
        --AND (@action_taken_PHQ IS NULL OR action_taken_PHQ = @action_taken_PHQ)
END


GO
/****** Object:  StoredProcedure [dbo].[Report_district_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    



CREATE PROCEDURE [dbo].[Report_district_Data]
@District varchar(100)
AS
BEGIN
	SELECT DISTRICT AS District,* FROM Complaints 
		where DISTRICT=@District order by COMPL_REG_DT desc
    --GROUP BY 
    --    ISNULL(da.DisttStandardName, c.district)
		
END


GO
/****** Object:  StoredProcedure [dbo].[Report_naturecrime_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_naturecrime_Data]
@complaint_nature varchar(100)
AS
BEGIN
	Select * from  tb_complaints where complaint_nature=@complaint_nature
END


GO
/****** Object:  StoredProcedure [dbo].[Report_presentstatuscomp_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_presentstatuscomp_Data]
@present_status_comp varchar(500)
AS
BEGIN
	Select * from  Complaints where Status_of_Complaint=@present_status_comp
END


GO
/****** Object:  StoredProcedure [dbo].[Report_recievedfrom_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_recievedfrom_Data]
@recieved_from varchar(100)
AS
BEGIN
	Select * from  Complaints where RECEPTION_MODE=@recieved_from
END


GO
/****** Object:  StoredProcedure [dbo].[Report_recievedfromauth_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_recievedfromauth_Data]
@concauth_comp_recieved varchar(100)
AS
BEGIN
	Select * from  tb_complaints where Complaint_source=@concauth_comp_recieved
END


GO
/****** Object:  StoredProcedure [dbo].[Report_typecomplaints_Data]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Report_typecomplaints_Data]
@type_complaint varchar(500)
AS
BEGIN
	Select * from  tb_complaints where type_complaint=@type_complaint
END


GO
/****** Object:  StoredProcedure [dbo].[Report_typeofagainst]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Report_typeofagainst]
	@typeofagainst varchar(200)
AS
BEGIN
	select * from Complaints where Respondent_Categories=@typeofagainst
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetComplaintsByFilter]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetComplaintsByFilter]
--@totalcomplaints varchar(100),
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
	@district VARCHAR(200) = NULL,
    @branch VARCHAR(200) = NULL,
	@class_incident VARCHAR(500) = NULL,
	@status_complaint VARCHAR(500) = NULL,
	@type_complainant varchar(500)= NULL,
	@Complaint_source VARCHAR(200) = NULL,
	@complaint_nature varchar(200) = NULL,
	@type_complaint varchar(200)= NULL,
	@mode_receipt Varchar(200)=Null
    
AS
BEGIN
    SET NOCOUNT ON;

       ;WITH DistrictData AS
    (
        SELECT 
            DISTRICT AS District,
            COUNT(*) AS TotalComplaints
        FROM Complaints
        WHERE
            (@DateFrom IS NULL OR TRY_CAST(COMPL_REG_DT AS DATE) >= @DateFrom)
            AND (@DateTo IS NULL OR TRY_CAST(COMPL_REG_DT AS DATE) <= @DateTo)
            AND (@district IS NULL OR DISTRICT = @district)
            AND (@class_incident IS NULL OR Class_of_Incident = @class_incident)
            AND (@status_complaint IS NULL OR Status_of_Complaint = @status_complaint)
            AND (@Complaint_source IS NULL OR Complaint_source = @Complaint_source)
            AND (@complaint_nature IS NULL OR Respondent_Categories = @complaint_nature)
            AND (@type_complaint IS NULL OR Type_of_Complaint = @type_complaint)
            AND (@mode_receipt IS NULL OR RECEPTION_MODE = @mode_receipt)
        GROUP BY DISTRICT
    )

    SELECT District, TotalComplaints
    FROM
    (
        SELECT 
            District,
            TotalComplaints
        FROM DistrictData

        UNION ALL

        SELECT 
            'Total',
            SUM(TotalComplaints)
        FROM DistrictData
    ) AS FinalResult

    ORDER BY 
        CASE WHEN District = 'Total' THEN 1 ELSE 0 END,
        District;


END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetComplaintStats]    Script Date: 23-04-2026 19:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetComplaintStats]
AS
BEGIN
    -- Complaints by District
    SELECT district AS District, COUNT(district) AS TotalComplaints
    FROM tb_complaint
    GROUP BY district;

    -- Complaints by Recieved From
    SELECT recieved_from AS RecievedFrom, COUNT(recieved_from) AS TotalComplaints
    FROM tb_complaint
    GROUP BY recieved_from;

    -- Complaints by Nature of Crime
    SELECT nature_crime AS NatureCrime, COUNT(nature_crime) AS TotalComplaints
    FROM tb_complaint
    GROUP BY nature_crime;

    -- Complaints by Date
    SELECT CONVERT(VARCHAR(10), date, 120) AS Date, COUNT(date) AS TotalComplaints
    FROM tb_complaint
    GROUP BY CONVERT(VARCHAR(10), date, 120)
    ORDER BY Date;
END;


GO
USE [master]
GO
