# Backend

# PostgreSQL (Neon)
DATABASE_URL="postgresql://<user>:<password>@<pooled-host>/<database>?sslmode=require"
DIRECT_URL="postgresql://<user>:<password>@<direct-host>/<database>?sslmode=require"

# JWT secret key
JWT_SECRET="phq-dashboard-secret-key-2024"

# Server port
PORT=3000

# Environment
NODE_ENV=development

# CCTNS (PHQ single endpoint flow)
CCTNS_SECRET_KEY=UserHryDashboard
CCTNS_DECRYPT_KEY=your_decrypt_key_here
CCTNS_TOKEN_API=http://api.haryanapolice.gov.in/cmDashboard/api/HomeDashboard/ReqToken
CCTNS_COMPLAINT_API=http://api.haryanapolice.gov.in/phqdashboard/api/PHQDashboard/ComplaintData
