-- CreateTable
CREATE TABLE "Admin" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'admin',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "District" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "District_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Complaint" (
    "id" SERIAL NOT NULL,
    "complRegNum" TEXT,
    "districtId" INTEGER,
    "complDesc" TEXT,
    "complSrno" TEXT,
    "complRegDt" TIMESTAMP(3),
    "firstName" TEXT,
    "lastName" TEXT,
    "mobile" TEXT,
    "gender" TEXT,
    "age" INTEGER,
    "addressLine1" TEXT,
    "addressLine2" TEXT,
    "addressLine3" TEXT,
    "village" TEXT,
    "tehsil" TEXT,
    "addressDistrict" TEXT,
    "addressPs" TEXT,
    "receptionMode" TEXT,
    "incidentType" TEXT,
    "incidentPlc" TEXT,
    "incidentFromDt" TIMESTAMP(3),
    "incidentToDt" TIMESTAMP(3),
    "classOfIncident" TEXT,
    "respondentCategories" TEXT,
    "complaintSource" TEXT,
    "typeOfComplaint" TEXT,
    "complainantType" TEXT,
    "complaintPurpose" TEXT,
    "statusOfComplaint" TEXT,
    "disposalDate" TIMESTAMP(3),
    "ioDetails" TEXT,
    "branch" TEXT,
    "firNumber" TEXT,
    "actionTaken" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Complaint_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WomenSafety" (
    "id" SERIAL NOT NULL,
    "complRegNum" TEXT,
    "districtId" INTEGER,
    "complDesc" TEXT,
    "complRegDt" TIMESTAMP(3),
    "firstName" TEXT,
    "lastName" TEXT,
    "mobile" TEXT,
    "gender" TEXT,
    "age" INTEGER,
    "addressLine1" TEXT,
    "addressLine2" TEXT,
    "addressLine3" TEXT,
    "village" TEXT,
    "tehsil" TEXT,
    "incidentType" TEXT,
    "incidentPlc" TEXT,
    "incidentFromDt" TIMESTAMP(3),
    "incidentToDt" TIMESTAMP(3),
    "complaintSource" TEXT,
    "statusOfComplaint" TEXT,
    "disposalDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WomenSafety_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CCTNSComplaint" (
    "id" SERIAL NOT NULL,
    "complRegNum" TEXT,
    "districtId" INTEGER,
    "compCategory" TEXT,
    "psrNumber" TEXT,
    "firNumber" TEXT,
    "firDate" TIMESTAMP(3),
    "ActSection" TEXT,
    "accusedName" TEXT,
    "accusedAge" INTEGER,
    "accusedAddress" TEXT,
    "victimName" TEXT,
    "incidentDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CCTNSComplaint_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Office" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "districtId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Office_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "District_Master" (
    "id" BIGINT NOT NULL,
    "DistrictName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "District_Master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PoliceStation_Master" (
    "id" BIGINT NOT NULL,
    "Name" TEXT NOT NULL,
    "DistrictID" BIGINT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PoliceStation_Master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Offices_Master" (
    "id" BIGINT NOT NULL,
    "Name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Offices_Master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tb_nature_complaints" (
    "id" SERIAL NOT NULL,
    "nature_complaints" TEXT,

    CONSTRAINT "tb_nature_complaints_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tb_received_from" (
    "id" SERIAL NOT NULL,
    "recieved_from" TEXT,

    CONSTRAINT "tb_received_from_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Admin_username_key" ON "Admin"("username");

-- CreateIndex
CREATE UNIQUE INDEX "District_name_key" ON "District"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Complaint_complRegNum_key" ON "Complaint"("complRegNum");

-- CreateIndex
CREATE UNIQUE INDEX "WomenSafety_complRegNum_key" ON "WomenSafety"("complRegNum");

-- CreateIndex
CREATE UNIQUE INDEX "CCTNSComplaint_complRegNum_key" ON "CCTNSComplaint"("complRegNum");

-- CreateIndex
CREATE UNIQUE INDEX "District_Master_DistrictName_key" ON "District_Master"("DistrictName");

-- AddForeignKey
ALTER TABLE "Complaint" ADD CONSTRAINT "Complaint_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WomenSafety" ADD CONSTRAINT "WomenSafety_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CCTNSComplaint" ADD CONSTRAINT "CCTNSComplaint_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Office" ADD CONSTRAINT "Office_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("id") ON DELETE SET NULL ON UPDATE CASCADE;

